footer {
  display: table;
  background:#193b68;
  height:30%;
  width:100%;
}
footer:before {
  /*content: "";
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  background: -moz-linear-gradient(left, rgba(25, 59, 104, 1) 0%, rgba(25, 59, 104, 0) 49%, rgba(25, 59, 104, 1) 100%);*/
  /* FF3.6+ */
  /*background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(25, 59, 104, 1)), color-stop(49%, rgba(25, 59, 104, 0)), color-stop(100%, rgba(25, 59, 104, 1)));*/
  /* Chrome,Safari4+ */
  /*background: -webkit-linear-gradient(left, rgba(25, 59, 104, 1) 0%, rgba(25, 59, 104, 0) 49%, rgba(25, 59, 104, 1) 100%);*/
  /* Chrome10+,Safari5.1+ */
  /*background: -o-linear-gradient(left, rgba(25, 59, 104, 1) 0%, rgba(25, 59, 104, 0) 49%, rgba(25, 59, 104, 1) 100%);*/
  /* Opera 11.10+ */
  /*background: -ms-linear-gradient(left, rgba(25, 59, 104, 1) 0%, rgba(25, 59, 104, 0) 49%, rgba(25, 59, 104, 1) 100%);*/
  /* IE10+ */
  /*background: linear-gradient(to right, rgba(25, 59, 104, 1) 0%, rgba(25, 59, 104, 0) 49%, rgba(25, 59, 104, 1) 100%);*/
  /* W3C */
  /*filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1);*/
  /* IE6-9 */
}




.dvfooter{
    width: 100%;
    height: 100px;
    background-image: url("bg_footer.png");
    background-size: 100% 100%;
}



.dvfooter_logo{
    width: 7%;
    height: 100%;
    background-image: url('footer_logos_3.png');
    background-size: 100% 100%;
    position: absolute;
    top: 0;
    left: 0;
}


.dvheader_logo{
    width: 20%;
   /* background-size: 100% 100%;*/
    display: table-cell;
}


.dvheader_busqueda{
    width: 20%;
    height: 40%;
    display: table-cell;
    padding-left: 40px;



}


p{
    color:#193b68;
    text-align:justify;
}


.section_cell{
  display: table-cell;
  padding: 10px;
  
}

.section_cell2{
  display: table-cell;
  width: 60%;
  
}

.section_row{
  display: table-row;
  
}

.section_table{
  width: 100%;
  display: table;
  
}

.section_table_hm{

  width: 100%;
  display: table;
  background-color:#193b68 ;
}



.section_content{
  /*float:right;*/
  
   display: table-cell;
  vertical-align: middle;
  
  background: -moz-radial-gradient(center, ellipse cover, rgba(5,3,3,0) 51%, rgba(5,3,3,0.27) 100%, rgba(5,3,3,0.27) 102%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, rgba(5,3,3,0) 51%,rgba(5,3,3,0.27) 100%,rgba(5,3,3,0.27) 102%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, rgba(5,3,3,0) 51%,rgba(5,3,3,0.27) 100%,rgba(5,3,3,0.27) 102%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00050303', endColorstr='#45050303',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.vl {
    border-left: 5px solid ;
    
}

.vl2 {
    border-left: 50px solid ;
    
}

.section_content2{
  /*float:left;*/
  width:50%;
  display: table-cell;
  
  

  /*    ***************     */
/*background: -moz-radial-gradient(center, ellipse cover, rgba(5,3,3,0) 51%, rgba(5,3,3,0.27) 100%, rgba(5,3,3,0.27) 102%);*/ /* FF3.6-15 */
background: -moz-radial-gradient(ellipse at center, rgba(5,3,3,0) 71%,rgba(5,3,3,0.27) 141%,rgba(5,3,3,0.27) 32%);
/*background: -webkit-radial-gradient(center, ellipse cover, rgba(5,3,3,0) 51%,rgba(5,3,3,0.27) 100%,rgba(5,3,3,0.27) 102%); */ /* Chrome10-25,Safari5.1-6 */
 
background: -moz-radial-gradient(ellipse at center, rgba(5,3,3,0) 71%,rgba(5,3,3,0.27) 141%,rgba(5,3,3,0.27) 32%);
background: radial-gradient(ellipse at center, rgba(5,3,3,0) 71%,rgba(5,3,3,0.27) 141%,rgba(5,3,3,0.27) 32%); /*background: radial-gradient(ellipse at center, rgba(5,3,3,0) 51%,rgba(5,3,3,0.27) 100%,rgba(5,3,3,0.27) 102%); */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00050303', endColorstr='#45050303',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  /*    **************     */
}

body{

   font-family: Arial;
}


header{
  height: 100%;
  margin-top: 0px;
  top: 0px;
  width: 100%;
  background:#193b68; 
  
  /*display: table;*/

}


#top_menu{
  /* z-index: 5;*/
  /* position:relative;*/

  background-color: #193b68; 
  width: 100%;
  display: table-row;
  vertical-align: middle;
}


#backg{
  /* z-index: 6;*/
  /* position:relative;*/
  width: 100%;
   
   display: table-row;
   background-image: url('../imagenes/dialogo_nacional/nueva_imagen/bg_header.jpg');
   background-repeat: no-repeat;
   background-size: 100% 100%;

}

#menu_ejes{
  /* z-index: 7;*/
   color:white;
   display: table-row;
}

.barra_menu{
	color:white;
  text-decoration: none;
  font-weight: bold;
}


.barra_menu:hover{
	color:#F5B819;/*#B9CFEE;*/
       
}

.barra_menu:focus {
  outline: 1px dashed red;
}

#dv_padd{
   width:10%;
   height:20%;	
   border: solid 1px;
}

#dv_ingreso{

 padding-right:10px; 
 display: table-cell;
 vertical-align: middle;

 
}

#dv_ingreso2{
 
 padding-right:10px; 
 display: table-cell;
 vertical-align: middle;

}

#links_top_menu_left{
 display: table-cell;
 vertical-align: middle;


}




#inp_busqueda_banner{
 display: table-cell;
}


#contenedor{
  vertical-align: top;
  width:80%;
  height:100%;
  margin: 0 auto;
  background-color: white;
}

#contenedor2{
  vertical-align: top;
  width:90%;
  height:100%;
  margin: 0 auto;
  background-color: white;
}

nav{
  width: 100%;
  display: table;

}

.nav_rw{
  z-index: 1;
  width: 100%;
  background-color:#193b68;
  color: white;
  display: table-row;
  text-align: center;
  vertical-align: middle;
}

.nav_rw2{
  z-index: 2;
  width: 100%;
  background-color:#ffffff;
  color: white;
  display: table-row;
  text-align: center;
  vertical-align: middle;
}


.nav_cell{

  display: table-cell;
  text-align: left;
}
.nav_cell2{
  display: table-cell;
  text-align: right; 
}

.nav_button{
  /*background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #193b68), color-stop(1, #ffffff));*/
  background:-moz-linear-gradient(top, #224592 5%, #224592 100%);
  background:-webkit-linear-gradient(top, #224592 5%, #224592 100%);
  background:-o-linear-gradient(top, #224592 5%, #224592 100%);
  background:-ms-linear-gradient(top, #224592 5%, #224592 100%);
  background:linear-gradient(to bottom, #224592 5%, #224592 100%);
  /*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);*/
  background-color:#224592;

  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #224592;

  padding:6px 24px;
  text-decoration:none;
  color: white;
  font-size: 20px;
  font-weight: bold;
  
  display:inline-block;
  width:33%;
  /*text-shadow:0px 1px 0px #ffffff;*/
}


.nav_button:hover{
  color: #F5B819;
  background:-moz-linear-gradient(top, #2B2B2B 5%, #2B2B2B 100%);
  background:-webkit-linear-gradient(top, #2B2B2B 5%, #2B2B2B 100%);
  background:-o-linear-gradient(top, #2B2B2B 5%, #2B2B2B 100%);
  background:-ms-linear-gradient(top, #2B2B2B 5%, #2B2B2B 100%);
  background:linear-gradient(to bottom, #2B2B2B 5%, #2B2B2B 100%);  
  border:1px solid #2B2B2B;

}



.nav_button2{
  /*background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #193b68), color-stop(1, #ffffff));*/
  background:-moz-linear-gradient(top, #005D8F 5%, #005D8F 100%);
  background:-webkit-linear-gradient(top, #005D8F 5%, #005D8F 100%);
  background:-o-linear-gradient(top, #005D8F 5%, #005D8F 100%);
  background:-ms-linear-gradient(top, #005D8F 5%, #005D8F 100%);
  background:linear-gradient(to bottom, #005D8F 5%, #005D8F 100%);
  /*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);*/
  background-color:#005D8F;

  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #005D8F;

  padding:6px 24px;
  text-decoration:none;
  color: white;
  font-size: 20px;
  font-weight: bold;
  display:inline-block;
  width:33%;
  /*text-shadow:0px 1px 0px #ffffff;*/
}

.nav_button2:hover{
  color: #F5B819;
  background:-moz-linear-gradient(top, #2B2B2B 5%, #2B2B2B 100%);
  background:-webkit-linear-gradient(top, #2B2B2B 5%, #2B2B2B 100%);
  background:-o-linear-gradient(top, #2B2B2B 5%, #2B2B2B 100%);
  background:-ms-linear-gradient(top, #2B2B2B 5%, #2B2B2B 100%);
  background:linear-gradient(to bottom, #2B2B2B 5%, #2B2B2B 100%);  
  border:1px solid #2B2B2B;
}
.nav_button3{
  /*background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #193b68), color-stop(1, #ffffff));*/
  background:-moz-linear-gradient(top, #005C7A 5%, #005C7A 100%);
  background:-webkit-linear-gradient(top, #005C7A 5%, #005C7A 100%);
  background:-o-linear-gradient(top, #005C7A 5%, #005C7A 100%);
  background:-ms-linear-gradient(top, #005C7A 5%, #005C7A 100%);
  background:linear-gradient(to bottom, #005C7A 5%, #005C7A 100%);
  /*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);*/
  background-color:#224592;

  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #005C7A;

  padding:6px 24px;
  text-decoration:none;
  color: white;
  font-size: 20px;
  font-weight: bold;
  display:inline-block;
  width:33%;
  /*text-shadow:0px 1px 0px #ffffff;*/
}

.nav_button3:hover{
  color: #F5B819;
    background:-moz-linear-gradient(top, #2B2B2B 5%, #2B2B2B 100%);
  background:-webkit-linear-gradient(top, #2B2B2B 5%, #2B2B2B 100%);
  background:-o-linear-gradient(top, #2B2B2B 5%, #2B2B2B 100%);
  background:-ms-linear-gradient(top, #2B2B2B 5%, #2B2B2B 100%);
  background:linear-gradient(to bottom, #2B2B2B 5%, #2B2B2B 100%);  
  border:1px solid #2B2B2B;
}

.nav_button:active{
  color: white;
}

h2{
  font-size: 20px;
  font-weight: bold;

}

.head_table{
  
  display: table;
  width: 100%;
}

.head_table2{

  display: table;
  width: 100%;
  
}

.head_table_menu{
  margin-top: 0px;
  top: 0px;

  /*display: table-cell;*/
  width: 100%;
  
}


.head_row{

  display: table-row;
  vertical-align: middle;

}

.head_row2{

  display: table-row;


}


.head_cell{

  display: table-cell;

}

#searchwrapper {

border-radius: 10px;
width:310px; /*follow your image's size*/
height:40px;/*follow your image's size*/
/*background-image:url('nueva_imagen/lupa.png');
background-repeat:no-repeat; *//*important*/
background-color: white;
padding:0px;

margin:0px;
position:relative; /*important*/
float: right;
}
 
#searchwrapper form { display:inline ; }
 
.searchbox {
border:0px; /*important*/
background-color:transparent; /*important*/
position:absolute; /*important*/
top:4px;
left:9px;
width:256px;
height:28px;
}
 
.searchbox_submit {
border:0px; /*important*/
background-color:transparent; /*important*/
position:absolute; /*important*/
top:4px;
left:265px;
width:32px;
height:28px;
}



.dropbtn {
    /*background-color: #4CAF50;*/
    color: white;
    padding: 16px;
    /*font-size: 16px;*/
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 40px;
    background-color: #f9f9f9;
    /*min-width: 360px;*/
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content2 {
    display: block;
    position: absolute;
    top: 40px;
    background-color: #f9f9f9;
    /*min-width: 360px;*/
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.section_table_inf{
  display: table;
  min-width: 550px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
/*background-color: #f1f1f1*/}


.dropdown:hover .dropdown-content {
   /* display: block;*/
    
}

.dropdown:focus + .dropdown-content{
 /*display:block;*/
}

.dropdown a:active + .dropdown-content{
/*display:block;*/
}


.dropdown:hover .dropbtn {

   /* background-color: #3e8e41;*/
}



.cls_mp_r{
    width: 80%; 
    margin: 0 auto;
  }




/***********************************css responsive home*****************************************/

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active2 {
  background-color: #4CAF50;
  color: white;
}

.topnav .icon {
  display: none;
}


@media screen and (max-width: 800px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
   

  }

  .icon{
    float: right;
    position: absolute;
    right: 0;
    top: 0;
    border: solid 2px white;
  }
}

@media screen and (max-width: 800px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: relative;
    right: 0;
    top: 0;
  }

  .responsive_ico{
    float: right;
    position: absolute;
    right: 0;
    top: 0;

  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  #contenedor{
    width: 100%;
  }

  #contenedor2{
    width: 100%;
  }

  .nav_button{
     width: 100%;

  }

  .nav_button2{
     width: 100%;

  }


  .nav_button3{
     width: 100%;

  }


  .section_content2{

    width: 100%;
    display: table-row;
  }
  .section_content{

    width: 100%;
    display: table-row;
   
  }


  #mapa_r{
    width: 200px;
    height: 200px;


  }

  .cls_mp_r{
    margin: auto;
    width: 50%;
   padding: 10px;
   
  }

  .vl{
    display: table-row;
    
    border-bottom: 10px solid ;
  }

  .footer{
    width: 100%;
    padding: 0px;
    margin: 0px;
    left: 0px;
  }

 #footer_logos_2{
    width:130px; 
    height:41px;
 }

 #logo_home{
    width:130px; 
    height:130px;


 }

  .ecuador_footer_img{
   float: left;
   position: relative;
   top:0px;
   background-image: none;

  }

  .col-md-12 .footer{
     background-image: none;

  }


  .government_footer_logos{
   float: right;
   position: relative;
   top:0px;


  }


  .footer_title_gobierno{
    display: none;

  }


  .dvheader_busqueda{
    display: table-row;
  }


  .dvheader_logo{
    display: table-row;
  }

  .section_cell{
   display: table-row; 

  }

.section_cell2{
   display: table-row; 

  }

}


.content_cal{
  width: 99%;
   
   overflow: auto;
   -ms-overflow-x: auto;
  white-space:nowrap;
    overflow-x:auto;

}



#container_map {
    height: 500px; 
    min-width: 310px; 
    max-width: 800px; 
    margin: 0 auto; 
}
.loading {
    margin-top: 10em;
    text-align: center;
    color: gray;
}




/*****codigo generado para botones de ejes****/




.myButtonEje {
  -moz-box-shadow:inset 0px 1px 0px 0px #54a3f7;
  -webkit-box-shadow:inset 0px 1px 0px 0px #54a3f7;
  box-shadow:inset 0px 1px 0px 0px #54a3f7;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #007dc1), color-stop(1, #0061a7));
  background:-moz-linear-gradient(top, #224592 5%, #1B3774 100%);
  background:-webkit-linear-gradient(top, #224592 5%, #1B3774 100%);
  background:-o-linear-gradient(top, #224592 5%, #1B3774 100%);
  background:-ms-linear-gradient(top, #224592 5%, #1B3774 100%);
  background:linear-gradient(to bottom, #224592 5%, #1B3774 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#007dc1', endColorstr='#0061a7',GradientType=0);
  background-color:#224592;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
  border:1px solid #124d77;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:13px;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:0px 1px 0px #154682;
}
.myButtonEje:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0061a7), color-stop(1, #007dc1));
  background:-moz-linear-gradient(top, #070E22 5%, #1B3774 100%);
  background:-webkit-linear-gradient(top, #070E22 5%, #1B3774 100%);
  background:-o-linear-gradient(top, #070E22 5%, #1B3774 100%);
  background:-ms-linear-gradient(top, #070E22 5%, #1B3774 100%);
  background:linear-gradient(to bottom, #070E22 5%, #1B3774 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0061a7', endColorstr='#007dc1',GradientType=0);
  background-color:#0061a7;
}
.myButtonEje:active {
  position:relative;
  top:1px;
}





/****************Boton2****************/


.myButtonEje2 {
  -moz-box-shadow:inset 0px 1px 0px 0px #54a3f7;
  -webkit-box-shadow:inset 0px 1px 0px 0px #54a3f7;
  box-shadow:inset 0px 1px 0px 0px #54a3f7;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #007dc1), color-stop(1, #0061a7));
  background:-moz-linear-gradient(top, #005D8F 5%, #00466B 100%);
  background:-webkit-linear-gradient(top, #005D8F 5%, #00466B 100%);
  background:-o-linear-gradient(top, #005D8F 5%, #00466B 100%);
  background:-ms-linear-gradient(top, #005D8F 5%, #00466B 100%);
  background:linear-gradient(to bottom, #005D8F 5%, #00466B 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#007dc1', endColorstr='#0061a7',GradientType=0);
  background-color:#224592;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
  border:1px solid #124d77;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:13px;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:0px 1px 0px #154682;
}
.myButtonEje2:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0061a7), color-stop(1, #007dc1));
  background:-moz-linear-gradient(top, #00324D 5%, #005D8F 100%);
  background:-webkit-linear-gradient(top, #00324D 5%, #005D8F 100%);
  background:-o-linear-gradient(top, #00324D 5%, #005D8F 100%);
  background:-ms-linear-gradient(top, #00324D 5%, #005D8F 100%);
  background:linear-gradient(to bottom, #00324D 5%, #005D8F 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0061a7', endColorstr='#007dc1',GradientType=0);
  background-color:#0061a7;
}
.myButtonEje2:active {
  position:relative;
  top:1px;
}



/****************Boton3****************/


.myButtonEje3 {
  -moz-box-shadow:inset 0px 1px 0px 0px #54a3f7;
  -webkit-box-shadow:inset 0px 1px 0px 0px #54a3f7;
  box-shadow:inset 0px 1px 0px 0px #54a3f7;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #007dc1), color-stop(1, #0061a7));
  background:-moz-linear-gradient(top, #005C7A 5%, #00455C 100%);
  background:-webkit-linear-gradient(top, #005C7A 5%, #00455C 100%);
  background:-o-linear-gradient(top, #005C7A 5%, #00455C 100%);
  background:-ms-linear-gradient(top, #005C7A 5%, #00455C 100%);
  background:linear-gradient(to bottom, #005C7A 5%, #00455C 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#007dc1', endColorstr='#0061a7',GradientType=0);
  background-color:#224592;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
  border:1px solid #124d77;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:13px;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:0px 1px 0px #154682;
}
.myButtonEje3:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0061a7), color-stop(1, #007dc1));
  background:-moz-linear-gradient(top, #002938 5%, #005C7A 100%);
  background:-webkit-linear-gradient(top, #002938 5%, #005C7A 100%);
  background:-o-linear-gradient(top, #002938 5%, #005C7A 100%);
  background:-ms-linear-gradient(top, #002938 5%, #005C7A 100%);
  background:linear-gradient(to bottom, #002938 5%, #005C7A 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0061a7', endColorstr='#007dc1',GradientType=0);
  background-color:#0061a7;
}
.myButtonEje3:active {
  position:relative;
  top:1px;
}

/**********************************************/